#container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px;
}


#sidebar{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#main{
    /* border: 1px solid red; */
    padding: 10px;
    width: 100%;
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(2,40%); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
#news{
    margin: auto;
    width: 400px;
    height: 420px;
    /* border: 1px solid red; */
    padding: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
img{
    width: 100%;
}